body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #000000 !important;
    color: #ffffff;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Rubik Puddles', cursive !important;
    font-size: 1.5em !important;
    text-align: center;
}

/* add hover for button to do as well as laying out the page */

.btn-primary {
    background-color: #ac8484 !important;
    border-color: #000000 !important;
}



div.header {
    background-color: rgb(70, 77, 73);
    width : 100%;
    padding : 10px;
    color : white;
}